@model WebApplication8.Models.resultView
@{
    ViewBag.Title = "Atendance";
}


<h2>ATTENDANCE BY CLASS</h2>
<div>
    <h4></h4>
    <hr />
    @using (Html.BeginForm())

    {
        <div class="form-group" style="padding:0px 450px 0px 0px">
            @Html.LabelFor(model => model.ccra.class_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ccra.class_id)
                @Html.ValidationMessageFor(model => model.ccra.class_id)
            </div>
        </div>
        <div class="form-group" style="padding:10px 0px">
            <div class="col-md-offset-2 col-md- 10">
                <input type="submit" value="submit" class="btn btn-default" />

            </div>
        </div>


    }
    @if (IsPost)
    {
        <table border="1">
            <tr>

                <th>Student Id</th>
                <th>Course Name</th>
                <th>Attendance Date</th>
                <th>Status</th>

            </tr>
            @foreach (var item in Model.ccr)
            {
                <tr>

                    <td>   @Html.DisplayFor(model => item.std_id)</td>
                    <td>   @Html.DisplayFor(model => item.course_name)</td>
                    <td>   @Html.DisplayFor(model => item.att_date)</td>
                    <td>   @Html.DisplayFor(model => item.att_status)</td>
                </tr>
            }
        </table>
    }
</div>
