@model WebApplication8.Models.resultView
@{
    ViewBag.Title = "show  Course";
}


<<h2 style="padding:0px 450px 0px 200px; margin-top:-57px;">Show Course</h2>

<div class="form-horizontal" style="padding:0px 450px 0px 200px">
    <h4>ccra</h4>
    <hr />
    @using (Html.BeginForm())

    {
        <div class="form-group" style="padding:0px 450px 0px 0px">
            @Html.LabelFor(model => model.ccra.std_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ccra.std_id)
                @Html.ValidationMessageFor(model => model.ccra.std_id)
            </div>
        </div>
        <div class="form-group" style="padding:10px 0px">
            <div class="col-md-offset-2 col-md- 10">
                <input type="submit" value="submit" class="btn btn-default" />

            </div>
        </div>


    }
    @if (IsPost)
    {
        <table border="1">
            <tr>

                <th>@Html.DisplayNameFor(model => model.ccra.std_id)</th>
                <th>@Html.DisplayNameFor(model => model.ccra.class_id)</th>
                <th>@Html.DisplayNameFor(model => model.ccra.course_name)</th>
                <th>@Html.DisplayNameFor(model => model.ccra.reg_date)</th>

            </tr>
            @foreach (var item in Model.ccr)
            {
                <tr>

                    <td>   @Html.DisplayFor(model => item.std_id)</td>
                    <td>   @Html.DisplayFor(model => item.class_id)</td>
                    <td>   @Html.DisplayFor(model => item.course_name)</td>
                    <td>   @Html.DisplayFor(model => item.reg_date)</td>
                </tr>
            }
        </table>
    }
</div>
