@model WebApplication8.Models.adduserModel

@{
    ViewBag.Title = "show";
}

<h2>show</h2>

<div>
    <h4>adduserModel</h4>
    <hr />
    
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.f_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.f_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dob)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dob)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.addr1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.addr1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.addr)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.addr)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.contact)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contact)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fcontact)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fcontact)
            </dd>

        </dl>
</div>
